/* ============================================================
   样式重置 
   ============================================================ */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{-webkit-user-select:none; -moz-user-select: none; /* Firefox all */ -ms-user-select: none; /* IE 10+ */ /* No support for these yet, use at own risk */ -o-user-select: none; user-select: none; }
ul,dl,ol{list-style:none;}
img,fieldset,input[type="submit"]{border:0 none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
em{font-style:normal;}
strong{font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
button,input[type="button"]{cursor:pointer;border:0 none;}
textarea{word-wrap:break-word;resize:none;}  /* word-wrap for opera, resize for webkit */
menu{margin:0;padding:0;}
body{-webkit-user-select:none;-webkit-text-size-adjust:none!important;font-family:Helvetica;}
div,input[type="number"]{-webkit-user-select:none;}
div,a,button,input,img{-webkit-touch-callout:none;}/* 1.ios 长按时不触发系统的菜单 2.禁止长按时下载图片 */
input,select,textarea{outline:none;}
select{-webkit-appearance:none;appearance:none;}

/* 去除android4.0以下 a/button/input标签被点击时产生的边框 因为边框引起了不少bug */
a,button,input,select{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/* Android4.0下不识别选择器-webkit-transform-3d 使用它可做Android4.0下版本兼容 */
@media all and (-webkit-transform-3d){
/* android4.0+ ios4+ 恢复按钮被点击时产生的效果 */
/*a,button,input{-webkit-tap-highlight-color:rgba(130,130,130,.52);}*/
a,button,input,select{-webkit-tap-highlight-color:rgba(0,0,0,0);}
} 
html,body{height:100%;font-size:14px;}
a{text-decoration:none;} 

/** 清浮动 **/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    _overflow: hidden;
}

* html > body .clearfix {
    display: inline-block;
    width: 100%;
}

* html .clearfix {
    height: 1%; /* End hide from IE-mac */
}

a {
    text-decoration: none;
}
a:hover{text-decoration: none;}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #1e457e; 
font-size:.5rem;
opacity: .5;
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #1e457e; 
font-size:.5rem;
opacity: .5;
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #1e457e; 
font-size:.5rem;
opacity: .5;
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #1e457e; 
font-size:.5rem;
opacity: .5;
} 

.wrap{width:10rem;margin:0 auto;}

/*激活样式*/
.f_activatebj{background: #0073cb;height: 100%;}
.f_top img{width: 10rem;}
.f_topbj{background: url(../images/ly02.jpg) no-repeat;width: 10rem;height: 3.533rem;background-size: 10rem 3.533rem;position: relative;}
.f_topbj span{display: block;position: absolute;top:1.2rem;left:2.3rem;}
.f_topbj span.z_toptitle{color: #fff;font-size: .55rem;}
.f_topbj span.z_topactive{color: #0073cc;font-size: .4rem;position: absolute;top:2.25rem;left:2.5rem;}
.f_activateimg ul li{float: left;width: 3rem;margin-left: .27rem;text-align: center;}
.f_activateimg ul li img{width: 2.3rem; }
.f_activateimg ul li span{display: block;margin-top: .2rem;}
.z_activatelist_text{color: #00ceff;font-size: .5rem;}
.z_activatelist_content{color: #fff;font-size: .35rem;}
.f_activatenumber{background: url(../images/ly.png) no-repeat;width: 10rem;height: 1.2rem;background-size: 10rem 1.2rem;margin-top: 1rem;position: relative;}
.f_activatenumber span{display: block;}
.z_activate_mynum{color: #00ceff;font-size: .35rem;position: absolute;left: 3.9rem;bottom: .96rem;}
.z_fullmessage{font-size: .32rem;position: absolute;left: 3.8rem;bottom: .96rem;}
.z_activate_95013{color: #fff;font-size: .5rem;padding-top: .4rem;position: absolute;left: 3rem;}
.f_activateinput{background: url(../images/inputbj_02.png) no-repeat;width: 9.35rem;background-size: 10rem 7.5rem;margin:0 auto;padding-left: .65rem;padding-top: .3rem;}

.z_telinput input{width: 8.66rem;padding:.4rem .5rem;background-color: #fff;border-radius: .2rem;border:none;font-size: .5rem;}
.f_code{margin: .3rem auto 0;}
.z_insertcode,.z_getcode{background-color: #fff;border-radius: .2rem;border:none;font-size: .5rem;padding:.4rem .5rem;}
.z_insertcode{width: 4.5rem;}
.z_getcode{width: 4rem;background-color: #1db3fa;color: #fff;margin-left: .1rem;font-size: .4rem;}
.f_bindtel{background-color: #1db3fa;color: #fff;font-size: .5rem;width: 7.66rem;padding:.4rem .5rem;text-align: center;border-radius: .2rem;margin-top: .4rem;}
.f_bindprotocl{color: #fff;font-size: .35rem;margin-top: .3rem;padding-left: 1rem;padding-bottom: 1rem;}
.f_bindprotocl span{opacity: .5;}
.f_bindprotocl a{color: #1db3fa;font-size: .35rem;text-decoration: underline;}
.f_bindprotocl a:hover{text-decoration: none;}


/*申请成为代理商样式*/
.f_applyagentbj{background: url(../images/gy_02.jpg) no-repeat;width: 10rem;height: 5.173rem;background-size: 10rem 5.173rem;}
.f_applyagentbj span{display: block;color: #fff;font-size: .45rem;text-align: center;padding-top: 1.1rem;}
.z_weilai{font-weight: normal;margin-left: 2rem;}
.f_applyagent{margin-top: 0;}
.f_applyagentinput{background: url(../images/inputbj_02.png) no-repeat;width: 9.35rem;background-size: 10rem 12rem;padding-top: .3rem;padding-left:.65rem;}
.z_username{margin-top: .3rem;}
.z_username_update{margin-top: -2rem;}

/*车主样式*/
.f_driverbj{background: url(../images/user_02.jpg) no-repeat;width: 10rem;height: 6.813rem;background-size: 10rem 6.813rem;padding-top: 1.5rem;}
.f_driverbj span{display: block;/*text-align: center;*/color: #fff;font-size: .5rem;padding-left: 3.5rem;}
.f_driverlogo img{width: 3rem;}
.f_drivertitle{margin-top: .2rem;margin-left: .5rem;}
.f_drivertitle_update{margin-top: 0;}
.f_driverinput,.f_driverconfim{margin:0 auto;text-align: center;margin-top: -1rem;}
.f_driverinput{background: #0073cb;}
.f_driverconfim{margin-top: .8rem;}

/*我的服务样式*/

/*banner样式*/
.swiper-container {width: 10rem;height: 4.48rem;max-height: 100%;margin-left: auto;margin-right: auto;
background: #e2f0ff; }
.swiper-slide {background-position: center;background-size: contain;}
        
.f_servicebj{background: #e2f0ff;padding-bottom: 1.5rem;}
.f_focus img{width: 10rem;}
.f_serviceimg img{width: 10rem;}
.f_service_number{color: #029df0;font-size: .5rem;padding-top: .2rem;text-align: center;background: #fff;}
.f_service_95013number{font-size: .55rem;font-weight: bold;padding-top: .1rem;color: #029df0;background: #fff;}
.z_goodnumber{float: right;display: inline-block;margin-right: .2rem;padding-top: .1rem;}
.z_goodnumber a{font-weight:normal;color: #f1c31e;border-radius: .5rem;border: 1px solid #f1c31e;padding:.02rem .4rem;font-size: .4rem;}
.z_95013num{padding-left: 2.5rem;}
.f_onlinetime{border-bottom: 1px solid #e7f3ff;padding-top: .5rem;padding-bottom: .5rem;background: #fff;}
.z_online_time{padding-left: .5rem;color: #666;font-size: .42rem;padding-top: .1rem;display: inline-block;}
.z_online_buy a{color: #0073cb;border:1px solid #0073cb;}
.z_online_set a{color: #6fc232;border:1px solid #6fc232;}
.f_noline{border-bottom:none;}
.f_serviceline{width: 10rem;padding:.6rem 0;background: #e2f0ff;
 background: -webkit-linear-gradient(top, #d3e7fd , #e1f0ff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, #d3e7fd , #e1f0ff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, #d3e7fd , #e1f0ff); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, #d3e7fd , #e1f0ff); /* 标准的语法 */}
}
.f_servicelist{display: table;}
.f_servicelist ul{background: #fff;padding-bottom: .8rem;box-shadow: 0px 10px 27px #e2f0ff;}
.f_servicelist ul li{width: 1.4rem; text-align: center;color: #666;font-size: .3rem;display: table-cell;padding-left: .23rem;padding-top: .8rem;}
.f_servicelist ul li img{width: 1.2rem;padding-bottom: .2rem;}
.f_servicelist ul li a{color: #666;font-size: .3rem;}
.f_service_95013number span.z_loginlook{padding-left: 3.6rem;}

/*呼叫记录样式*/
.f_calllistwrap{background: #dcedfe;padding: .5rem 0;}
.f_calllistbj,.f_messagelistbj{background: #fff;}
.f_calllistbj ul li,.f_messagelistbj ul li{border-bottom: 1px solid #dbecfe;padding: .4rem 0 .5rem;}
.z_calllist_tel{padding-left:.35rem;}
.z_calllist_tel,.z_calllist_tel a{color: #000;font-size: .5rem;}
.z_calllist_tel a:hover{text-decoration: none;}
.z_calllist_img {padding: .1rem .35rem 0;color: #ec607c;font-size: .4rem;margin-top: .1rem;}
.z_calllist_img img{width: .5rem;margin-right: .3rem;vertical-align: middle;}
.z_notline{float: right;font-size: .35rem;}
.z_calllist_imggray{color: #666;}
.z_calllist_time{color: #00c07c;}

/*留言记录样式*/
.f_messagedate{color: #000;font-size: .5rem;padding-left:.35rem;}
.f_messagecontent{margin-top: .2rem;display: table;padding-left:.35rem;}
.z_messageimg{display: table-cell;}
.z_messageimg img{width: 1rem;margin-right: .3rem;}
.z_messageright span{display: block;}
.z_fromtel{color: #666;font-size: .4rem;}
.z_fromtel b{color: #ec607c;}
.z_fromtel b.z_notmessage{color: #1b9fed;}
.z_fromtime{color: #ec607c;font-size: .3rem;}
.z_notmessagetime{color: #666;}

/*点击设置弹窗内容样式*/
.f_setpop{display: none;}
.tb_overflay{background-color:#2b2a2a;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;opacity:0.7;filter: alpha(opacity=70);-moz-opacity: 0.7;}  /*遮罩*/
.f_setcontent,.f_buycontent{position: fixed;top: 50%;left: 50%;-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);background:rgba(0,0,0,.5);background: #fff;border-radius: .1rem;width: 7rem;color: #666;font-size: .4rem;z-index: 2;}
.f_setclose{position: absolute;right:0;top:-.8rem;}
.f_setclose img{width: .6rem;}
.f_setcontentlist ul li{border-bottom: 1px solid #e2f1ff;padding:.5rem 0;}
.f_setcontentlist ul li img{width: .5rem;padding-left: .5rem;vertical-align: middle;margin-right: .3rem;}
.f_setcontentlist ul li:last-child{border-bottom:0;}
.z_right{visibility: hidden;}

/*点击购买弹出样式*/
.f_buypop{display: none;}
.f_buycontent{width: 9rem;border-radius: .5rem;}
.f_buylist{padding: .6rem .5rem .3rem .3rem;}
.f_buylist ul li{float:left;width: 2.5rem;position: relative;margin-left: .2rem;}
.f_buylist ul li.f_500minutes{border-radius: .2rem;padding:.25rem 0;
    background: #3c76e0;
  background: -webkit-linear-gradient(left, #46b6fa , #3b72de); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #46b6fa , #3b72de); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #46b6fa , #3b72de); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #46b6fa , #3b72de); /* 标准的语法 */

}
.f_buylist ul li.f_500minutesactive{background: #fff;border: 1px solid #3b70dd;}

.z_sales img{width: 1.2rem;position: absolute;left: 0;top:0;}
.z_500minutes_money{border-radius:.5rem;background:#fff;padding:.07rem 0;width: 1.5rem;display:block;color: #0b87f7;text-align: center;font-weight: bold;font-size: .4rem;margin-left: .5rem;}
.z_500minutes_moneyactive{color: #fff;background: #3c75df;
    background: -webkit-linear-gradient(left, #46b6fa , #3c75df); 
    background: -o-linear-gradient(right, #46b6fa , #3c75df); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #46b6fa , #3c75df); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #46b6fa , #3c75df); /* 标准的语法 */
}

.z_500minutes_minutes{color: #fff;font-size: .36rem;display: block;text-align: center;margin-top: .3rem;}
.z_500minutes_minutesactive{color: #3c74df;}
.f_buylist ul li.f_1000minutes{ background: #fca14a;
  background: -webkit-linear-gradient(left, #f9dd49 , #fca14a); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f9dd49 , #fca14a); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f9dd49 , #fca14a); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f9dd49 , #fca14a); /* 标准的语法 */}
.f_buylist ul li.f_1000minutesactive{background: #fff;border: 1px solid #fca04a;}


  .z_1000minutes_money{color: #fc9f4a;}
  .z_1000minutes_moneyactive{color: #fff;background: #fca54a;
    background: -webkit-linear-gradient(left, #f9db49 , #fca54a); 
    background: -o-linear-gradient(right, #f9db49 , #fca54a); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f9db49 , #fca54a); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f9db49 , #fca54a); /* 标准的语法 */

  }

  .z_1000minutes_minutesactive{color: #fca44a;}


.f_buylist ul li.f_3000minutes{ background: #8d44dc;
  background: -webkit-linear-gradient(left, #d248fa , #8d44dc); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #d248fa , #8d44dc); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #d248fa , #8d44dc); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #d248fa , #8d44dc); /* 标准的语法 */}
.f_buylist ul li.f_3000minutesactive{background: #fff;border: 1px solid #8844da;}

.z_3000minutes_money{color: #8444d8;}  
.z_3000minutes_moneyactive{color: #fff;background: #8b44db;
    background: -webkit-linear-gradient(left, #cf48f9 , #8b44db); 
    background: -o-linear-gradient(right, #cf48f9 , #8b44db); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #cf48f9 , #8b44db); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #cf48f9 , #8b44db); /* 标准的语法 */
}
.z_3000minutes_minutesactive{color: #8c44db;}

.f_fastpay{margin: .8rem auto;text-align: center;}
.f_fastpay a{margin:0 auto;display:block;border-radius:.2rem;width:8rem;padding: .2rem 0;text-align:center;color: #fff;font-size: .5rem;
background: #80d452;
  background: -webkit-linear-gradient(left, #029df0 , #80d452); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #029df0 , #80d452); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #029df0 , #80d452); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #029df0 , #80d452); /* 标准的语法 */
}


/*申请成功样式*/
.f_sqsuccessimg{margin:0 auto;text-align: center;}
.f_sqsuccessimg img{text-align: center;width: 5.547rem;margin:0 auto;display: block;padding-top: 1rem;}
.f_sqsuccess{text-align: center;font-size: .6rem;font-weight: bold;color: #029df0;margin-top: .5rem;}
.f_sqsuccontent{color: #666;font-size: .45rem;margin: .2rem auto;width: 9rem;text-align: center;}
.f_sqsuc_confirm,.f_guanzhuweixin{color: #fff;font-size: .5rem;border-radius: .2rem;background: #029df0;width: 9rem;padding:.2rem 0;margin:3rem auto 0;text-align: center;
background: -webkit-linear-gradient(left, #029df0 , #80d452); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #029df0 , #80d452); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #029df0 , #80d452); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #029df0 , #80d452); /* 标准的语法 */
}
.f_sqsuc_confirm a{color: #fff;font-size: .5rem;}

.f_sqagent{margin-top: .5rem;text-align: center;text-decoration: underline;}
.f_sqagent a{color: #fff;opacity: .5;text-align: center;}
.f_guanzhuweixin{background: #ff678e;
background: -webkit-linear-gradient(left, #ff678e , #fb76ad); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ff678e , #fb76ad); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ff678e , #fb76ad); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ff678e , #fb76ad); /* 标准的语法 */
}
.f_guanzhufinsh{margin-top: .5rem;}

/*联系人详情*/
.f_peoplewrap,.f_selecttaocanwrap{width: 10rem;background: #05a4ed;
  background: -webkit-linear-gradient(left top, #30f9ce , #05a4ed); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, #30f9ce, #05a4ed); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, #30f9ce, #05a4ed); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, #30f9ce , #05a4ed); /* 标准的语法 */

}
.f_peoplewrap,.f_goods_address{height: 100%;}
.f_goods_address{padding-top: .01rem;overflow: hidden;padding-bottom: 1rem;}
.f_peopleimg,.f_bingtelimg{text-align: center;margin: 0 auto;padding-top: 1rem;}
.f_peopleimg img{width: 3.347rem;}
.f_peoplename{margin-top:.5rem;text-align: center;color: #fff;font-size: .5rem;}
.f_peopletel img{width: .55rem;vertical-align: .-1rem;}
.f_peopletel{margin-top:.3rem;text-align: center;color: #fff;font-size: .4rem;}
.f_peopleedit a{display:block;background: #fff;width: 9rem;padding:.2rem 0;border-radius: .2rem;color: #0099ff;text-align: center;margin:7rem auto 0;font-size: .5rem;}
.f_editbtn{display:block;background: #fff;width: 9rem;padding:.2rem 0;border-radius: .2rem;color: #0099ff;text-align: center;margin:7rem auto 0;font-size: .5rem;border: none;}

.f_editpeople{padding: 3rem .5rem 0;}
.f_editpeople ul li{border-bottom: 2px solid #fff;color: #fff;font-size: .5rem;padding-bottom: .5rem;margin-top: .8rem;}
.f_editpeople ul li span{display: inline-block;width: 1.8rem;text-align: right;margin-right: .3rem;}
.f_editpeople ul li input{border: none;background: transparent;}
.f_editpeople ul li input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #fff; 
font-size:.4rem;
opacity: .5;
} 
.f_editpeople ul li inputt:-moz-placeholder, textarea:-moz-placeholder { 
color: #fff; 
font-size:.35rem;
opacity: .5;
} 
.f_editpeople ul li input::-moz-placeholder, textarea::-moz-placeholder { 
color: #fff; 
font-size:.35rem;
opacity: .5;
} 
.f_editpeople ul li input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #fff; 
font-size:.35rem;
opacity: .5;
} 

.f_bingtelimg:before{display: inline-block;content: '';border-radius: 1.5rem;background: #fff;box-shadow: 5px 5px 5px #19b3ba;width: 3rem;height: 3rem;position: relative;left: -.2rem;top:0;z-index:0;}
.f_bingtelimg img{width: 2rem;position: absolute;z-index: 1;display: block;margin-left: 4.1rem;margin-top: -2.5rem;}
.f_bingdtel{font-size: .35rem;}
.f_bindtelnum{font-size: .5rem;}


/*代理商系统样式*/
.f_agaentsystem{background: #ddedfe;height: 100%;}
.f_agaentsys_top{width: 9rem;background: #1accdf;padding: .7rem .5rem .5rem;overflow: hidden;
  background: -webkit-linear-gradient(left top, #30f9ce , #05a4ed); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, #30f9ce, #05a4ed); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, #30f9ce, #05a4ed); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, #30f9ce , #05a4ed); /* 标准的语法 */
  box-shadow: 5px 5px 5px #bfdbfa;
}
.f_agaenysys_left{float:left;width: 3rem;}
/*.f_agaenysys_left img{width: 2.5rem;border-radius: 50%;box-shadow: 5px 5px 5px #19b3ba; }*/
.f_agaenysys_left img{width: 2.5rem;}

.f_agaenysys_right{color: #fff;margin-top: .3rem;}
.f_agaenysys_name{font-size: .5rem;font-weight: bold;margin-bottom: .3rem;}
.f_agaenysys_date{font-size: .35rem;}
.f_agent_goods{margin: 1rem .2rem .5rem;border-radius: .2rem;background: #fff;width: 9.6rem;overflow: hidden;}
.f_agentgoods_message{border-bottom: 1px dashed #bababa;padding:.5rem 0 .6rem;overflow: hidden;width: 9.3rem;margin:0 auto;}
.z_agentgoods_left{float: left;}
.z_goodmange{color: #000;font-size: .5rem;}
.z_goodsedtime{color: #666;font-size: .4rem;margin-top: .2rem;}
.z_goodsdate{color: #666;opacity: .5;font-size: .35rem;margin-top: .1rem;}
.z_agentgoods_right{float: right;margin-right: .2rem;margin-top: .25rem;}
.z_agentgoods_right img{width: 1.4rem;}
.f_lookgoodsrecord{margin-top: .3rem;text-align: center;padding-bottom: .3rem;}
.f_lookgoodsrecord a{color: #029df0;font-size: .45rem;}
.f_ordergoods{margin: 2rem auto .5rem;text-align: center;}
.f_ordergoods a{display:block;border-radius: .2rem;width: 8rem;background: #1b9fed;padding:.2rem 0;color: #fff;text-align: center;margin:0 auto;font-size: .5rem;
background: -webkit-linear-gradient(left, #1b9fed , #83d35a); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #1b9fed , #83d35a); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #1b9fed , #83d35a); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #1b9fed , #83d35a); /* 标准的语法 */
}

.z_ordertaocan{padding-left:.35rem;margin-top:.2rem;color: #029df0;font-size: .45rem;}
.z_orderdate{padding-left:.35rem;margin-top:.1rem;font-size: .4rem;color: #666;opacity: .5;}

.f_mygoodlistwrap{background: #dcedfe;padding: .5rem 0;padding-top: .05rem;}
.f_mygoodslist ul li{padding: .3rem;background: #fff;margin-top: .5rem;}
.f_mygoods_goodtaocan{border-bottom: 1px dashed #d5d5d5;padding-bottom: .2rem;}
.z_goodtaocan{color: #000;font-size: .5rem;}
.z_nouser{color: #ec4a70;display: inline-block;padding:.05rem .2rem .1rem;background: #fee2e7;border-radius: .5rem;}
.z_goodprice{color: #ec607c;font-size: .45rem;}
.f_mygoods_content{margin-top: .5rem;overflow: hidden;}
.f_mygoodscon_left{float: left;}
.z_goods95013num{color: #666;font-size: .45rem;}
.z_ordergoods_date{color: #666;opacity: .5;font-size: .4rem;}
.f_goodscancel {float: right;}
.f_goodscancel a{color: #029df0;border: 1px solid #029df0;padding:.1rem .25rem;display: block;border-radius: .5rem;}
.z_yesuser{color: #14c6c5;background: #def7f8;}
.f_usagetaocan{color: #666;font-size: .45rem;}
.z_useduse{color: #029df0;}
.f_usagegoodsdate,.f_usageusedate{color: #666;font-size: .35rem;opacity: .5;}
.f_usagegoodsdate{margin-top: .2rem;}
.z_usednouse{color: #666;}

/*我的订单*/
.f_orderfinsh{float: right;color: #14c6c5;font-size: .35rem;background: #def7f8;padding: .1rem .4rem;display: inline-block;border-radius: .5rem;}
.f_orderminutes{color: #666;font-size: .4rem;margin-top: .5rem;}
.f_orderminutes span{color: #ec607c;float: right;display: inline-block;margin-right: .3rem;}
.f_ordertime{color: #666;opacity: .5;margin-top: .1rem;font-size: .3rem;}
.z_beihuozhong{color: #f7a852;}
.z_cancelorder{float: right;}
.z_cancelorder a{color: #029df0;border: 1px solid #029df0;padding:.1rem .25rem .08rem;display: block;border-radius: .5rem;}


/*通讯录样式*/
.f_addresswrap{background: #dcedfe;}
.f_adress_letter{padding: .1rem .5rem;color: #0b87f7;font-weight: bold;font-size: .5rem;}
.f_addresslist_content{background: #fff;}
.f_addresslist_content ul li{border-bottom: 1px solid #e9eff7;}
.f_addresslist_content ul li a{display: block;color: #000;padding: .5rem;font-size: .5rem;}
.f_address_add{margin-top: .5rem;padding-left: .5rem;background: #fff;}
.f_address_add img{width: 2.6rem;padding-top: 1rem;}

/*选择套餐样式*/
.f_selecttaocan{}
.f_selecttaocan ul li{float:left;background: #fff;margin-left: .3rem;width: 4.6rem;text-align: center;padding-bottom: .5rem;margin-top: .5rem;position: relative;}
.f_shopping img{width: 3.813rem;padding-top: .4rem;}


.f_taocanprice{color: #000;font-size: .4rem;margin-top: 1rem;font-weight: bold;}
.f_taocanprice span{color: #ff668d;}
.f_taocancontent{color: #666;font-size: .35rem;margin-top: .2rem;text-align: center;min-height: 1.5rem;}
.f_taocanselect a{display: block;color: #fff;background: #029df0;font-size: .5rem;padding:.05rem 0 .1rem;border-radius: .5rem;width: 3rem;margin:.5rem auto 0;}
.f_nottaocan{margin: .5rem auto 0;color: #abe0f7;text-align: center;}
.f_selecttaocan_title{padding-top: .5rem;}
.f_selecttaocan_title span{margin:0 auto;width: 4rem;padding:.1rem 0;text-align: center;color: #fff;font-size: .5rem;text-align: center;background: #029df0;border-radius: .5rem;display: block;}

.f_recommand{position: absolute;right: 0;top: 0;}
.f_recommand img{width: 1.547rem;}


.f_selectbuymount{background: #fff;border-radius: .2rem;width: 9.5rem;margin:.5rem auto 0;padding-bottom: .2rem;}
.f_selnumbwrap{background: #fff;border-radius: .2rem;width: 9.5rem;margin:0 auto;}


.f_select_count{text-align: center;color: #000;font-size: .5rem;padding-top: .5rem;}
.f_select_bj{background: #ecf5fe;margin: .5rem auto .2rem;border-radius: .5rem;width: 7rem;text-align: center;padding: .1rem 0;position: relative;}
.f_select_bj span{display: inline-block;}
.zselect_add{color: #a6cdf4;font-size: .6rem;position: absolute;left: .3rem;top: -.05rem;}
.zselect_reduce{position: absolute;left: 6.5rem;}

.f_goodtaocan{text-align: left;padding-left: .5rem;}
.f_goodsaddress_lines{border-bottom:1px dashed #bababa;padding: .1rem 0;}
.f_goods_minustes{padding-left: .5rem;color: #666;font-size: .4rem;margin-top: .5rem;}
.z_goodsprice{color: #ff668c;margin-left: .2rem;}
.z_goodscount{color: #000;display: inline-block;float: right;margin-right: .5rem;}

.f_insert_user{border-bottom: 1px solid #e9e9e9;color: #666;font-size: .45rem;width: 8.5rem;margin: 0 auto;padding-bottom: .2rem;margin-top: .5rem;}
.f_insert_user input{border: none;font-size: .5rem;padding-left: .5rem;padding-top: .2rem;width: 6rem;}
.f_paytotal{color: #000;font-size: .5rem;text-align: center;}
.z_paytotal_pay{background: #ff668c;color: #fff;float: right;border-bottom-right-radius: .2rem;border-top-right-radius: .2rem;width: 2.5rem;padding:.16rem 0;}
.z_totalmoney{padding-top: .1rem;display: inline-block;padding-left: 2rem;}
.z_totalmoney b{font-weight: normal;color: #ff668c;}

/*帮助中心*/
.f_helptitle{color: #000;font-size: .45rem;padding-top: .2rem;padding-left: .2rem;font-weight: bold;}
.f_helpcontent{padding: 0 .2rem;font-size: .35rem;line-height: .5rem;margin-top: .2rem;}

.f_shangkebao{background: url(../images/skb.png) no-repeat;width: 4rem;height: 4.5rem;background-size: 4rem 4.5rem;position: relative;margin-left: .3rem;margin-top: .4rem;}
.f_shangkebao span{color: #fff;font-size: .3rem;position: absolute;left: 0;top: 1rem;display: inline-block;padding: .2rem;line-height: .55rem;}
.f_miliao{background: url(../images/miliao.png) no-repeat;width: 4rem;height: 4.5rem;background-size: 4rem 4.5rem;position: relative;margin-left: .3rem;margin-top: .4rem;}

/*选择号码样式*/
.f_goods_addressnum{padding-top: .01rem;overflow: hidden;padding-bottom: 1rem;}
.f_insernumber{text-align: left;padding-left: .5rem;}
.f_searchnumber{margin: .2rem auto 0;text-align: center;position: relative;}
/*.f_searchnumber input{width: 9rem;padding: .2rem 0;border-radius: .5rem;background: #ecf5fe;border: none;padding-left: .5rem;font-size: .5rem;position: relative;}
.f_searchnumber:after{content: '';display: block;background: url(../images/zoom.png) no-repeat;width: .5rem;height: .5rem;background-size: .5rem .5rem;position: absolute;right: .8rem;top: 2.15rem;}*/

.z_search_content{width: 9rem;padding: .2rem 0;border-radius: .5rem;background: #ecf5fe;border: none;padding-left: .5rem;font-size: .5rem;}
.z_searchbtn{background: url(../images/zoom.png) no-repeat;width: .5rem;height: .5rem;background-size: .5rem .5rem;position: absolute;right: .8rem;top: .25rem;border:none;text-indent: -999;}



.f_searchnum_tip{color: #029df0;padding: .5rem .25rem;font-size: .4rem;}
.f_numberlist{margin-top: 0;}
.f_numberlist ul{overflow: hidden;}
.f_numberlist ul li{border: 1px solid #a6cdf4;width: 4rem; padding: .3rem 0; text-align: center;float: left;margin: .6rem .394rem 0 .3rem;}
.f_numberlist ul li:last-child{margin-right: 0;}
.f_numberlist ul li span{display: block;font-size: .45rem;}
.z_95013number{color: #ff668c;}
.z_95013number b{font-weight: normal;color: #029df0;margin-right: .1rem;}
.z_selnumber{color: #666;font-size: .4rem;padding-top: .2rem;}
.z_selnumber b{font-weight: normal;color: #ff668c;}
.z_select_taocan{padding-top: .1rem;}
.z_select_taocan a{display: block;background: #029df0;padding: .1rem 0 .15rem;width: 2.8rem;color: #fff;font-size: .45rem;border-radius: .5rem;margin:0 auto;text-align: center;}
.f_numlist_line{border-top: 1px dashed #d5d5d5;margin-top: 1rem;}
.f_changenumber{margin: .5rem auto 0;text-align: center;padding-bottom: .3rem;}
.f_changenumber img{width: .8rem;vertical-align: middle;margin-right: .2rem;}
.f_changenumber input{color: #666;font-size: .45rem;border: none;background: transparent;}


.icon-newplay{width: 1rem; height: 1rem;background: url(../images/message_yes.png) no-repeat;background-size: 1rem 1rem; display: block;}
.icon-play{width: 1rem; height: 1rem; background: url(../images/message_no.png) no-repeat; display: block; background-size: 1rem 1rem;}
.play-pause{border: 0; outline: 0; padding: 0; width: 1rem; height: 1rem;margin-right: .3rem;background: none; display: inline-block; vertical-align: middle;}
.icon-pause{width: 1rem; height: 1rem; background: url(../images/pause.png) no-repeat; display: block; background-size: 1rem 1rem;}

/*点击更改手机号弹窗*/
.f_edittelphone{display: none;}
.f_switchcontent{position: fixed;top: 50%;left: 50%;-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);background:rgba(0,0,0,.5);background: #fff;border-radius: .4rem;width: 9rem;text-align: center;font-size: .4rem;line-height: .6rem;z-index: 10;}
.z_edittel_title{text-align: center;color: #000;font-size: .5rem;padding-top: .5rem;}
.f_edittel_inserttel{margin-top: .5rem;padding: 0 .5rem;position: relative;}
.f_edittel_inserttel input{width: 8rem;height: .5rem;padding-top:.8rem;padding-bottom:.7rem;background-color: #fff;border-radius: .2rem;border:1px solid #1b9fed;padding-left: 1.5rem;font-size: .5rem; }
.f_edittel_inserttel img{width: .6rem;position: absolute;top:.25rem;left: .9rem;}
.f_edittel_inserttel input.z_edittel_getcode{color: #1b9fed;font-size: .45rem;position: absolute;bottom:.38rem;right: .5rem;background: transparent;border:none;width: 5rem;}
.f_edittel_confirm{width: 8rem;margin-top: 1rem;}
.f_successend{margin: .5rem auto;  border-radius: .8rem;width: 8rem;padding:.32rem 0;background: #1c74b8;
  background: -webkit-linear-gradient(left, #1c74b8 , #1b9fed); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #1c74b8 , #1b9fed); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #1c74b8 , #1b9fed); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #1c74b8 , #1b9fed); /* 标准的语法 */}
.f_successend a{display: block;color: #fff;text-align: center;font-size: .6rem;position: relative;}
.f_successend a:hover{text-decoration: none;}
.f_successend a:before,.f_successend a:after{display: inline-block;content: '';width: .17rem;height: .17rem;border-radius: 50%;background-color: #fff;position: absolute;bottom: .3rem;}
.f_successend a:before{right: 8.3rem;}
.f_successend a:after{left: 8.3rem;}
.z_movecarclose{position: absolute;right:.2rem;top:-1rem;}
.z_movecarclose img{width: .9rem;}

/*点击确认弹窗成功界面样式*/
.z_telsuccess{text-align: center;margin:0 auto;color: #1b9fed;padding:.5rem 0;width: 9rem;font-size: .6rem;}
.z_telsucimg img{width: 2.44rem;margin-top: .5rem;}
.z_teltext{color: #000;font-size: .5rem;margin-top: .5rem;}
.z_telclose{right: .2rem;top: -1.2rem;}
.f_telsuccess{display: none;}




